.button {
	color: white;
	border: 1px solid #333;
	background: none;
	padding: 10px;
	font-size: 18px;
	cursor: pointer;
}

.wrapper {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-bottom: 20px;
	padding: 20px;
	border: 1px solid #333;
	border-radius: 10px;
}

.wrapper > div {
	padding: 20px;
	border: 1px solid #333;
	border-radius: 10px;
}