.button {
	background: purple;
	color: white;
	border: none;
	padding: 10px;
	font-size: 18px;
	cursor: pointer;
}

.wrapper {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-bottom: 20px;
}

.wrapper > div {
	background: #333;
	padding: 20px;
	color: white;
	border-radius: 10px;
}