.card {
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	overflow: hidden;
}

.card__image {
	background: #B8B8B8;
	display: flex;
	padding-top: 10px;
	justify-content: center;
	align-items: start;
	height: 180px;
}

.card__info {
	display: flex;
	flex-direction: column;
	background: var(--black);
	color: var(--white);
	padding: 10px;
	min-height: 150px;
}

.card__tag {
	font-weight: 300;
	font-size: 11px;
	line-height: 15px;
	margin-bottom: 3px;
}

.card__name {
	font-weight: 600;
	font-size: 15px;
	line-height: 110%;
	margin-bottom: 8px;
}

.card__author {
	font-weight: 400;
	font-size: 11px;
	line-height: 15px;
}

.card__footer {
	margin-top: auto;
	display: flex;
}

.button__add {
	border-radius: 6px;
	width: 36px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	border: 1px solid var(--white);
	cursor: pointer;
}

.button__active {
	background: var(--white);
}